name: Machine Learning CI

on:
  push:
    branches: [ main ]

jobs:
  train-and-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install MLflow and Dependencies
        run: |
          pip install mlflow dagshub pandas scikit-learn

      - name: Run MLflow Project
        env:
          MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
          MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_TRACKING_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_TRACKING_PASSWORD }}
        run: |
          mlflow run MLProject_Folder/ -e main

      - name: Build Docker Image (Advance Criteria)
        run: |
          mlflow models build-docker -m "models:/StackOverflow_Model/1" -n "username_docker/overflow-model:v1"
